## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [ ]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

**Check the head of the DataFrame.**

**How many rows and columns are there?**

**What is the average Price of all cars in the dataset?**

**Which is the cheapest make and costliest make of car in the lot?**

**How many cars have horsepower greater than 100?**

**How many hatchback cars are in the dataset ?**

**What are the 3 most commonly found cars in the dataset?**

**Someone purchased a car for 7099, what is the make of the car?**

**Which cars are priced greater than 40000?**

**Which are the cars that are both a sedan and priced less than 7000?**

 **Count the number of unique values in the `fuel_type` column.**

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

**What is the median `price` for each `make`?**

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

**Count how many cars have a `number_of_doors` as `four`.**

**Find the top 5 cars based on their `highway_mpg` and `price`.**

**How many cars have missing values in the `normalized_losses` column?**

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

### The END